.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(101, 169, 255);
  background: radial-gradient(
    circle,
    rgba(101, 169, 255, 1) 0%,
    rgba(148, 187, 233, 0.04805672268907568) 50%
  );
}

.form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center;
  background: white;
  padding: 48px;
  border-radius: 24px;
}

.header {
  margin-bottom: 25px !important;
}
