.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center;
}

.header {
  margin-bottom: 25px !important;
}
