.btnGrad {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
}

.btnGrad {
  margin: 20px 0 !important;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s !important;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btnGrad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
