.container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.button {
    transform: scale(1.3);
    color: #73ff6a;
}
